<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="ACOfferMaker.Properties.Settings.ACOfferMakerConnectionString"
   connectionString="Data Source=Kamil\SQLEXPRESS;Initial Catalog=ACOfferMaker;Persist Security Info=True;User ID=sa;Password=123456;Pooling=False"
   providerName="System.Data.SqlClient" />
  <add name="ACOfferMaker.Properties.Settings.ACOfferMakerConnectionString1"
   connectionString="Data Source=Kamil\SQLEXPRESS;Initial Catalog=ACOfferMaker;Persist Security Info=True;User ID=sa;Pooling=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>